* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f172a;
    color: #e5e7eb;
    font-family: "Segoe UI", sans-serif;
    min-height: 100vh;
    text-align: center;
}

h1 {
    margin: 20px 0;
    color: #38bdf8;
}

.controls {
    margin-bottom: 15px;
}

button {
    background: #22c55e;
    border: none;
    padding: 10px 16px;
    margin: 5px;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

select {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    margin-right: 10px;
}


.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(10, 40px);
    gap: 2px;
    margin-top: 20px;
}

.cell {
    width: 40px;
    height: 40px;
    background: #1e293b;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

.cell:hover {
    background: #334155;
}

.wall {
    background: black;
}

.start {
    background: #22c55e;
}

.goal {
    background: #ef4444;
}

.path {
    background: #fde047;
}
