<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DSA Algorithm Visualizer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/jpeg" href="{{ url_for('assets_file', filename='favicon.jpg') }}">
</head>
<body>

    <h1>Dijkstra Pathfinding Visualizer</h1>

    <div class="controls">
        <select id="algorithm">
            <option value="dijkstra">Dijkstra</option>
            <option value="astar">A* Search</option>
            <option value="bfs">BFS</option>
            <option value="dfs">DFS</option>
        </select>

        <button onclick="runAlgorithm()">Run</button>
        <button onclick="resetGrid()">Reset</button>
    </div>

    <div class="grid-container" id="grid"></div>

    <script>
        const gridData = {{ grid|tojson }};
    </script>

    <script src="{{ url_for('static', filename='js/grid.js') }}"></script>

</body>
</html>
